html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

body{ 
	margin:0;
	padding:0;
	box-sizing: border-box;
	background: url('pianta.jpg')  no-repeat center center/cover;
	background-attachment: fixed;
	font-family: 'Abril Fatface', cursive;
}
.navbar{
	display:flex;
	justify-content: center;
	background-color: rgba(232,223,207, 0.2);
	position: sticky;
   border-radius: 100px;
  

	top: -20px; /* .navbar has margin-bottom: 20px; */
}

.navbar-link ul{
	display:flex;
	list-style:none;
	margin:20px 0px;
	border-radius: 100px;
}

.navbar-link ul li{
	font-family: inherit;
	font-size: 24px;
	font-weight: bold;
	
}

.navbar-link ul li a{
	text-decoration: none;
	color: #ffffff;
	padding: 8px 25px;
	transition: all.5s ease;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
	                 0px -5px 35px rgba(255,255,255,0.3)

}

.navbar ul li a:hover{
	background-color: #c19a6b;
	color: #534b4f;
	box-shadow: 0 0 10px #d6d5c2;
	border-radius: 100px;
}





#home {
	display: flex;
	flex-direction: column;
	
	height: 640px;
	justify-content: center;
	align-items: center;
	
	
	
}



.center{
	display:flex;
	flex-direction: column;
	border: 1px solid white;
	align-items: center;
	position:absolute;
	top: 30%;
	right:10%;
}

.headings{
	font-family: inherit;
	font-size: 70px;
	text-align: center;
	margin: 20px 0px;
}

.headings h1{
	font-family: inherit;
	font-size:50px;
	text-align: center;
	margin: 20px 0px;
}

button{
	padding: 10px 55px;
	background-color: trasparent;
	border: 1px solid white;
	color: #2C3E50;
	outline:none;
	transition: .6s ease;
	font-size: 30px;
	border-radius: 100px;
	

}

button:hover{
	cursor: pointer;
	background-color: #c19a6b;
	color: #534b4f;
	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
	font-weight: bold;
	border-radius: 100px;
	font-size: 25px;
}

#about{
	display:flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 50px;
    

}

h1{
	display:flex;
	flex-direction: column;
	box-sizing: border-box;
	color: #F1E9D6;
	align-items: center;
	padding: 20px;
	font-size: 70px;
	font-family: inherit;

}


figure{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	border-radius: 50px;
	background-color: trasparent;
}
figure img{
	width: 230px;
	
}

article{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 10px;
	font-family: inherit;
}

article p{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #d0b38f;
}


#portfolio{
	display: flex;
	flex-direction: column;
	background-color: (0, 0, 0, 0.9);
	color: #d0b38f;
	align-items: center;
	padding: 20px;
	font-family: inherit;
	
}

.gallery{
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	
}

.gallery img{
	width: 360px;
	height: 240px;
	margin: 10px;
}

#contact{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: (0, 0, 0, 0.9);
	color: #383838;
	padding: 20px;

}

.form{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	margin: 20px 0px;
	
}
.input{
	padding: 12px;
	margin: 15px;
	width: 30%;
	border: none;
	outline: none;
	background-color: white;
	border-radius: 20px;
}

#msg{
	width: 30%;
	padding: 12px;
	margin: 15px;
	border: none;
	outline: none;
	border-radius: 20px;
}
#send{
	padding: 10px 55px;
	background-color: trasparent;
	border: 1px solid white;
	color: white;
	outline:none;
	transition: .6s ease;
	font-size: 30px;
	border-radius: 100px;
}

#send:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
	font-weight: bold;
	border-radius: 100px;
	
}


fa {
	padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
	  width: 405px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

#logo{
       display: flex;
       flex-direction: column;
       box-sizing: border-box;
       background-color: (0, 0, 0, 0.9);
       color: #d0b38f;
       
   }
   
   .container h2{
       font-family: inherit;
       font-size: 50px;
       text-align: center;
       margin: 20px 0px;
	   
   
   }
   
   .logo{
       display: flex;
       flex-direction: row;
       box-sizing: border-box;
       background-color: (0, 0, 0, 0.9);
       color: #d0b38f;
       padding: 20px;
	   align-items: center;
	   justify-content: space-around;
   	
   }
   
   
   .logo i{
       font-size: 50px;
       box-sizing: border-box;
       color: #d0b38f;
       padding: 20px;
	   text-align: center;
	   flex-direction: column;
	   align-items: center;
	   justify-content: space-around;
	  
   }
   
   
   
   .gallery h2{
	   box-sizing: border-box;
	  margin: 0 0 10px 0;
	   font-size: 30px;
	   flex-direction: column;
	
   }
   
   .project{
   	   flex-direction: column;
	   display: flex;
	   justify-content: space-between;
   }
   
   
   
   .project img{
	 
	   box-sizing: border-box;
	   margin: 0px 0px 0px 0px;
	   font-size: 30px;
	   flex-direction: column;
   	
	
   }
   
   
   .square{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }
   
	
   
   @media only screen and (max-width:800px){
	   .navbar{
	
        flex-direction: column;
        box-sizing: border-box;
		width: 100%;
		border-radius: 100px;
           }
		   .navbar-link ul{
			   flex-direction: column;
			       display: table; 
			       margin: 0 auto;
			       text-align: left;
			   
		   }

		   .navbar-link ul li{
			   text-align: center;
			   flex-direction: column;
			   box-sizing: border-box;
			   align-items: center;
	
		   }
		   
		   .navbar-link ul li a{
			   padding: .5rem 1rem;
		   }
		   .gallery{
		   	display: flex;
			flex-direction: column;
		   	justify-content: space-around;
		   	box-sizing: border-box; 
			width: 100%;
            padding: 20px;
		}
		
		
	
			.gallery img{
				width: 100%;
				height: auto;
				margin: 10px 10px 10px 10px;
			   	display: flex;
				flex-direction: column;
				
			}
			
		
		    .btn{
 			   text-align: center;
 			   flex-direction: column;
 			   box-sizing: border-box;
 			   align-items: center;
		    	
		    }
			
			button{
				padding: 10px 55px;
				background-color: trasparent;
				border: 1px solid white;
				color: #999994;
				outline:none;
				transition: .6s ease;
				font-size: 30px;
				border-radius: 100px;
	

			}
		   
			button:hover{
				cursor: pointer;
				background-color: white;
				color: black;
				box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
				font-weight: bold;
			}
			
			.input{
				padding: 12px;
				margin: 15px;
				width: 80%;
				border: none;
				outline: none;
				background-color: white;
				border-radius: 20px;
			}

			#msg{
				width: 80%;
				padding: 12px;
				margin: 15px;
				border: none;
				outline: none;
				border-radius: 20px;
			}
		
   }


